
@{
    ViewBag.Title = "Create Post";
}
<br />
<br />

<form action="/Post/Create" method="post">
    <label>Título</label>
    <input id="Title" name="Title"
           type="text" />
    <br />
    <br />
    <label>Conteúdo</label>
    <input id="Content" name="Content"
           type="text" />
    <p>
        <input type="submit" value="Save" />
    </p>
</form>

